.field {
    position: relative;
    width: 500px;
    height: 300px;
    border: none;
    color: gray;
    background-color: gray;
    z-index: 0;
    display: none;
}
#menuField {
    z-index: 40;
    padding: 5px;
    display: block;
}
.panel {
    position: relative;
    width: 500px;
    height: 32px;
    border: none;
    color: #cccccc;
    background-color: #cccccc;
    z-index: 0;
    display: none;
}
.blur {
    position: absolute;
    width: 500px;
    height: 332px;
    border: none;
    color: black;
    background-color: black;
    z-index: 2;
    opacity: 50%;
    display: none;
}
.bullet {
    position: absolute;
    width: 4px;
    height: 4px;
    background: url('textures/bullet.png');
    background-size: 100% 100% !important;
    display: block;
    
}

.player {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('textures/p1.png');
    background-size: 100% 100% !important;
    display: block;
}
#p2 {
    background: url('textures/p2.png');
    transform: rotate(180deg);
}
#p3 {
    background: url('textures/p3.png');
}
#p4 {
    background: url('textures/p4.png');
    transform: rotate(180deg);
}

.score {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    text-align: center;
    font-size: 26px;
    color: black;
}
#p1sc {
    background: url('textures/p1sc.png');
    background-size: 100% 100%;
}
#p2sc {
    background: url('textures/p2sc.png');
    background-size: 100% 100%;
}
#p3sc {
    background: url('textures/p3sc.png');
    background-size: 100% 100%;
}
#p4sc {
    background: url('textures/p4sc.png');
    background-size: 100% 100%;
}

#pause {
    background: url('textures/pause.png');
    background-size: 100% 100%;
    z-index: 3;
    display: none;
}

.timer {
    position: absolute;
    width: 300px;
    height: 30px;
    top: 1px;
    text-align: left;
    font-size: 26px;
    color: black;
}

#settingsButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    background: url('textures/settings.png');
    background-size: 100% 100%;
    z-index: 3;
    display: none;
}

.play {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 50;
    background: url('textures/resume.png');
    background-size: 100% 100%;
}
.pchoosers {
    text-align: center;
    font-size: 26px;
    color: black;
    top: 35px;
}
.text {
    text-align: center;
    font-size: 26px;
    color: black;
}
.pchoosers, #pause, #play, .settings, #gamemode1, #gamemode2, #gamemode3:hover {cursor: pointer}
.menuButton {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 40;
} 
#menu {
    background: url('textures/menu.png');
    background-size: 100% 100%;
}
#restart {
    background: url('textures/restart.png');
    background-size: 100% 100%;
}
#resume {
    background: url('textures/resume.png');
    background-size: 100% 100%;
}

.gameWin {
    width: 500px;
    height: 300px;
    text-align: center;
    font-size: 40px;
    color: black;
    background-color: gray;
}

.fixBg {
    background-size: 100% 100%;
}

#fAddTimeChooserTrue, #fAddTimeChooserFalse {
    width: 29px;
    height: 29px;
}

html, body {
    overflow: hidden;
    margin: 0px;
}